.calculator-container {
  border: solid 1px black;
  width: 300px;
  margin: 0 auto;
}
.buttons {
  display:flex;
  flex-direction: row;
  height: 40%;
}
.numbers {
  padding: 5px 5px;
  display: flex;
  align-items: flex-start;
  width: 85%;
  background-color: lightblue;
}
.actions {
  width: 15%;
  padding: 5px 5px;
  background-color: lightblue;
}
.number, .action {
  margin: 1px;
  font-size: 40px;
  background: white;
  outline: black;
  &:hover {
    background: orange;
    color: white;
  }
}
.action {
  width: 100%;
  float: left;
}
