h1 {
  color: darkblue;
}

.title {
color: purple;
// background: lightpink;
// display: inline-block;
// text-align: right;
// height: 100px;
// border-radius: 0px 0 0px 0;
}
.calculator-container {
  input, span {
    width: 100px;
    //float:left;
  }
  span {
    width:10px;
    display: inline-block;
    padding: 0 10px 0 10px;
  }
}

